<section class="contact-section">
    <h2 class="section-title">Contact</h2>
    <div class="info-wrapper">
        <img class="store-outside" src="/assets/img/weisse-hugel-outside.jpg" alt="Weisse Hügel Store">
        <ul class="info-list d-md-none">
            <li><img class="info-icon" src="/assets/img/icons/ios-call.svg" alt="Phone"><a href="tel:+34932221778"><span>Tel:</span> +34 932 221 778</a></li>
            <li><img class="info-icon" src="/assets/img/icons/ios-mail.svg" alt="Mail"><a href="email:cmbmanel@gmail.com"><span>Email:</span> cmbmanel@gmail.com</a></li>
            <li><img class="info-icon" src="/assets/img/icons/ios-pin.svg" alt="Pin"><a href="https://www.google.com/maps/place/Weisse+H%C3%BCgel/@41.3810552,2.1530438,15z/data=!4m5!3m4!1s0x0:0x16a759601b87f968!8m2!3d41.3810552!4d2.1530438"><span>Location:</span> Carrer de Calàbria, 135, 08015 Barcelona</a></li>
        </ul>
        <ul class="info-list d-sm-none">
            <li><img class="info-icon" src="/assets/img/icons/ios-call.svg" alt="Phone"><a href="tel:+34932221778">+34 932 221 778</a></li>
            <li><img class="info-icon" src="/assets/img/icons/ios-mail.svg" alt="Mail"><a href="mailto:cmbmanel@gmail.com">cmbmanel@gmail.com</a></li>
            <li><img class="info-icon" src="/assets/img/icons/ios-pin.svg" alt="Pin"><a href="https://www.google.com/maps/place/Weisse+H%C3%BCgel/@41.3810552,2.1530438,15z/data=!4m5!3m4!1s0x0:0x16a759601b87f968!8m2!3d41.3810552!4d2.1530438">Carrer de Calàbria, 135, 08015 Barcelona</a></li>
        </ul>
    </div>
</section>