<!-- Global site tag (gtag.js) - Google Analytics --><script async src="https://www.googletagmanager.com/gtag/js?id=UA-151339519-1"></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-151339519-1');</script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Joan Manel Ruiz Parera, with more than 50 years of experience is also the founder of Weisse Hügel guitars, considered to be the best handmade guitars in Barcelona, Spain">
<link rel="stylesheet" href="/styles/home/styles.css">
<link rel="stylesheet" href="/styles/home/header.css">
<link rel="stylesheet" href="/styles/home/main-section.css">
<link rel="stylesheet" href="/styles/home/guitars-section.css">
<link rel="stylesheet" href="/styles/home/basses-section.css">
<link rel="stylesheet" href="/styles/home/woods-section.css">
<link rel="stylesheet" href="/styles/home/contact-section.css">
<link rel="icon" type="image/png" href="/assets/img/wh.png">
<title>Weisse Hügel</title>