<header>
    <div class="d-md-none header-content d-flex align-items-center">
        <img class="weisse-logo" src="/assets/img/wh.png" alt="Weisse Hügel" onclick="goTo(0)">
        <div class="to-sections d-flex justify-content-between">
            <button class="go-to-button" onclick="goTo('.guitars-section.d-md-flex')">
                <p>Guitars</p>
            </button>
            <button class="go-to-button" onclick="goTo('.basses-section.d-md-flex')">
                <p>Basses</p>
            </button>
            <button class="go-to-button" onclick="goTo('.woods-section.d-md-flex')">
                <p>Woods</p>
            </button>
            <button class="go-to-button" onclick="goTo('.contact-section')">
                <p>Contact</p>
            </button>
        </div>
    </div>

    <div class="d-sm-none header-content d-flex align-items-center">
        <img class="weisse-logo" src="/assets/img/wh.png" alt="Weisse Hügel" onclick="goTo(0)">
        <div class="to-sections d-flex justify-content-between">
            <button class="go-to-button" onclick="goTo('.guitars-section.d-sm-flex')">
                <p>Guitars</p>
            </button>
            <button class="go-to-button" onclick="goTo('.basses-section.d-sm-flex')">
                <p>Basses</p>
            </button>
            <button class="go-to-button" onclick="goTo('.woods-section.d-sm-flex')">
                <p>Woods</p>
            </button>
            <button class="go-to-button" onclick="goTo('.contact-section')">
                <p>Contact</p>
            </button>
        </div>
    </div>
</header>