<!DOCTYPE html>
<html lang="en">

<head>
    {% include instrument-head.html %}
</head>

<body>
    <header>
        <div class="header-content">
            <a href="/" aria-label="Weisse Hügel main site">
                <img class="weisse-logo" src="/assets/img/wh.png" alt="Weisse Hügel">
            </a>
        </div>
    </header>
    <section class="main-section">
        <h1>{{page.model}}</h1>
        <img id="instrument-image" src="{{page.mainImg}}" alt="{{page.model}}">
    </section>
</body>

</html>